<!DOCTYPE html>
<html>
<head>
  <title>作業練習：元件變換</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="images/favicon.ico" rel="shortcut icon">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/all.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l"
    crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/regular.js" integrity="sha384-t7yHmUlwFrLxHXNLstawVRBMeSLcXTbQ5hsd0ifzwGtN7ZF7RZ8ppM7Ldinuoiif"
    crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c"
    crossorigin="anonymous"></script>
  <script src="/javascripts/vendor.js"></script>

</head>

<body class="bg-lighter">  
  <!-- <p>提示：</p>
          <ol class="mb-0">
            <li>將資料內容透過 "元件" 呈現</li>
            <li>製作城市過濾選項</li>
            <li>將內層資料透過 emit 傳遞到外層 (作為另一個關注城市的呈現)</li>
            <li>依據不同污染呈現不同色彩</li>
            <li>加分題：透過 localStorage 儲存上次關注的城市</li>
          </ol>
          /*
          mounted: {
          getData() {
          const vm = this;
          const api = 'http://opendata2.epa.gov.tw/AQI.json';
          
          // 使用 jQuery ajax
          $.get(api).then(function (response) {
          vm.data = response;
          console.log(response)
          });
          },
          } */
        </div>-->

  <div id="app">
    <h2 class="mt-3">空氣品質</h2>
    <select class="form-control mb-3" v-model='locationNow'>      
      <option value="">--- 請選擇城市 ---</option>
      <!--<option value="" v-for="location in data">{{location.County}}</option>-->
      <option :value="location" v-for="location in countyArr">{{location}}</option>
    </select>
    <div>
      <h4>關注城市</h4>
      <div class="card-columns">
        <city-template v-for="(item, key) in staredGet" :air="item" :key="key" @stared-status="staredCount(item)"></city-template>
      </div>
      <hr>
      <h5>其他測站</h5>
      <div class="card-columns">        
        <city-template v-for="(item, key) in filterData" :air="item" :key="key" @stared-status="staredCount(item)"></city-template>
      </div>
    </div>
    <hr>
  </div>

  <script type='text/x-template' id='cityTemplate'>
     <div class="card" :class="status">
        <div class="card-header">{{air.County}}-{{air.SiteName}}
           <a href="#" class="float-right" @click="starStatus">
             <i class="fas fa-star" v-show="air.star"></i>
             <i class="far fa-star" v-show="!air.star"></i>
           </a>            
        </div>
        <div class="card-body">
          <ul class="list-unstyled">
            <li>AQI 指數: {{air.AQI}}</li>
            <li>PM2.5: {{air['PM2.5']}}</li>
            <li>說明: {{air.Status}}</li>
          </ul>
          {{air.PublishTime}}
        </div>
     </div>     
  </script>

  <script>
    Vue.component('city-template', {
      props: ['air'],
      template: '#cityTemplate',      
      computed: {
        status: function () {
          if (this.air.Status == '良好') {
            return 'status-aqi1';
          } else if (this.air.Status == '普通') {
            return 'status-aqi2';
          } else if (this.air.Status == '對敏感族群不健康') {
            return 'status-aqi3';
          } else if (this.air.Status == '對所有族群不健康') {
            return 'status-aqi4';
          } else if (this.air.Status == '非常不健康') {
            return 'status-aqi5';
          } else if (this.air.Status == '危害') {
            return 'status-aqi6';
          } else { return 'status-aqi0'; }
        }

      },
      methods:{
        starStatus:function(){
          this.air.star=!this.air.star;          
          this.$emit('stared-status');         
        }  
      }

    })

    var app = new Vue({
      el: '#app',
      data: {
        data: [],        
        locationNow: '',
        stared: [],
        filter: '',       
      },
      mounted: function () {
        var vm = this;
        $.ajax({
          url: 'http://opendata2.epa.gov.tw/AQI.json',
          type: 'GET',
          dataType: 'json',
          success: function (data) {
            vm.data = data;          //把資料放進root裡面的data[]             
            console.log(data, this);            
          }
        })
      },
      computed: {
        countyArr: function () {
          var vm = this;
          var set = new Set();
          var newArr = [];
          var countyArr = vm.data.filter(function (loc) {
            return !set.has(loc.County) ? set.add(loc.County) : false;  //三元表達式
          });
          countyArr.forEach(function (county) {
            newArr.push(county.County);
          });
          return newArr;
        },
        filterData: function () {
          var vm = this;
          if (vm.locationNow == '') {
            return vm.data;
          } else {
            return vm.data.filter(function (item, index, array) {
              return vm.locationNow === item.County;
            })
          }
        },
        staredGet:function(){                   
          var vm=this;
          console.log(vm.stared);          
          if(vm.stared==[]){
            return;
          }else {    
            //vm.stared.filter(function(item,index,array){
            //  console.log(item.PublishTime);               //是比較舊的時間
            //})               
            return JSON.parse(localStorage.getItem('AQIstared'));  //JSON.parse
          }          
        },
        //update:function(){
        //  
        //}      
      },
      methods:{
        staredCount: function (item) { 
          this.$emit('stared-status');         
          //console.log(item.star);
          var vm = this;
          if(item.star){
            vm.stared.push(item); 
            //console.log(this.stared);            
            return localStorage.setItem('AQIstared', JSON.stringify(vm.stared));                      
          }                   
        },
        
      }
    });
  </script>

  <style>
    .status-aqi0 {
      background-color: #dedfe0;
    }

    .status-aqi1 {
      background-color: #d3fccc;
    }

    .status-aqi2 {
      background-color: #ffff77;
    }

    .status-aqi3 {
      background-color: #ff9c3a;
    }

    .status-aqi4 {
      background-color: #ff4848;
    }

    .status-aqi5 {
      background-color: #905296;
    }
    .status-aqi6 {
      background-color: #861d3b;
    }    
  </style>


  </div>
  </div>
  </div>
</body>

</html>